@import "tailwindcss";

@theme {
    --font-sans: "Product Sans", "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-brand-orange: #ff9d42;
    --color-brand-blue: #3b82f6;
    --color-brand-purple: #8b5cf6;
    --color-brand-rose: #f43f5e;
}

@layer base {
    body {
        @apply bg-slate-50;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-smooth: auto;
    }
}

@layer utilities {
    .text-gradient-gray-purple {
        background: linear-gradient(to right, #64748b, #8b5cf6, #f43f5e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .glass-card {
        @apply bg-white border border-slate-100 shadow-sm rounded-3xl;
    }
}

@font-face {
    font-family: 'Product Sans';
    src: url('https://fonts.cdnfonts.com/s/14883/ProductSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Product Sans';
    src: url('https://fonts.cdnfonts.com/s/14883/ProductSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}